### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [24]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
csv_path = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(csv_path)

purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [25]:
total_players = purchase_data_df["SN"].nunique()

player_count_df = pd.DataFrame({'Total Players': [total_players]})

player_count_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [26]:
unique_items = purchase_data_df["Item Name"].nunique()
average_price = "${:.2f}".format(purchase_data_df["Price"].mean())
purchases = purchase_data_df["Purchase ID"].nunique()
revenue = "${:.2f}".format(purchase_data_df["Price"].sum())

purchasing_analysis_df =  pd.DataFrame({'Number of Unique Items': [unique_items], 'Average Price': [average_price],
                                       'Number of Purchases': [purchases], 'Total Revenue': [revenue]})

purchasing_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [27]:
groupby_gender_df = purchase_data_df.groupby("Gender")
gender_count = groupby_gender_df["SN"].nunique()
percentage_of_players = gender_count / total_players * 100
gender_count_df = pd.DataFrame({"Total Count": gender_count, "Percentage of Players": percentage_of_players})
gender_demographics_df = gender_count_df.sort_values("Total Count", ascending = False).style.format({"Percentage of Players":"{:.2f}%"})

gender_demographics_df.index.name = None


gender_demographics_df


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [28]:
purchase_count = groupby_gender_df["Purchase ID"].count()
average_purchase_price = groupby_gender_df["Price"].mean()
purchase_total = groupby_gender_df["Price"].sum()
average_purchase_total_pp = purchase_total/gender_count

gender_count_df = pd.DataFrame({"Purchase Count": purchase_count, 
                                "Average Purchase Price": average_purchase_price,
                                "Total Purchase Value": purchase_total,
                                "Avg Total Purchase per Person": average_purchase_total_pp})

purchasing_analysis_df = gender_count_df.style.format({"Average Purchase Price":"${:.2f}",
                                                          "Total Purchase Value":"${:,.2f}",
                                                          "Avg Total Purchase per Person":"${:.2f}"})

purchasing_analysis_df

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [29]:
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 122 ]
age_groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"],bins, labels=age_groups)
groupby_age_group_df = purchase_data_df.groupby("Age Group")
age_count = groupby_age_group_df["SN"].nunique()

age_percentage = (age_count/total_players) * 100

age_demographics_df = pd.DataFrame({"Total Count": age_count, "Percentage of Players": age_percentage})

age_demographics_format_df = age_demographics_df.style.format({"Percentage of Players":"{:,.2f}%"})

age_demographics_format_df.index.name = None

age_demographics_format_df

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [30]:
purchase_count = groupby_age_group_df["Purchase ID"].count()
average_purchase_price = groupby_age_group_df["Price"].mean()
total_purchase_value = groupby_age_group_df["Price"].sum()
avgerage_total_purchase_per_person = total_purchase_value/age_count

purchasing_analysis_df = pd.DataFrame({"Purchase Count": purchase_count,
                                       "Average Purchase Price": average_purchase_price,
                                       "Total Purchase Value": total_purchase_value,
                                       "Avg Total Purchase per Person": avgerage_total_purchase_per_person})

purchasing_analysis_format_df = purchasing_analysis_df.style.format({"Average Purchase Price":"${:.2f}",
                                                                     "Total Purchase Value":"${:,.2f}",
                                                                     "Avg Total Purchase per Person":"${:.2f}"})
purchasing_analysis_format_df.index.name = "Age Ranges"

purchasing_analysis_format_df

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [31]:
purchase_data_groupby_sn_df = purchase_data_df.groupby("SN")
purchase_count_2 = purchase_data_groupby_sn_df["Purchase ID"].count()
average_purchase_price_2 = purchase_data_groupby_sn_df["Price"].mean()
total_purchase_value_2 = purchase_data_groupby_sn_df["Price"].sum()

top_spenders_df = pd.DataFrame({"Purchase Count": purchase_count_2,
                                       "Average Purchase Price": average_purchase_price_2,
                                       "Total Purchase Value": total_purchase_value_2,})

top_spenders_descending_df = top_spenders_df.sort_values(["Total Purchase Value"], ascending=False).head()

top_spenders_format_df = top_spenders_descending_df.style.format({"Average Purchase Price":"${:.2f}",
                                                                     "Total Purchase Value":"${:.2f}"})



top_spenders_format_df

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [44]:
simple_purchase_data_df = purchase_data_df[["Item ID","Item Name","Price"]]
purchase_data_groupbys_df = simple_purchase_data_df.groupby(["Item ID","Item Name"])
purchase_count_3 = purchase_data_groupbys_df["Price"].count()
average_purchase_price_3 = purchase_data_groupbys_df["Price"].mean()
total_purchase_value_3 = purchase_data_groupbys_df["Price"].sum()
item_price = total_purchase_value_3/purchase_count_3


most_popular_items_df = pd.DataFrame({"Purchase Count": purchase_count_3,
                                       "Item Price": item_price,
                                       "Total Purchase Value": total_purchase_value_3,})

most_popular_items_descending_df = most_popular_items_df.sort_values(["Purchase Count"], ascending=False).head()

most_popular_items_format_df = most_popular_items_descending_df.style.format({"Item Price":"${:.2f}",
                                                                     "Total Purchase Value":"${:.2f}"})



most_popular_items_format_df

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [45]:
most_popular_items_descending_df = most_popular_items_df.sort_values(["Total Purchase Value"], ascending=False).head()

most_popular_items_format_df = most_popular_items_descending_df.style.format({"Item Price":"${:.2f}",
                                                                     "Total Purchase Value":"${:.2f}"})



most_popular_items_format_df